<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
<title>Marzia Home Page</title>
</head>
<style>
.logoutLblPos{

   position:fixed;
   right:10px;
   top:5px;
}
.button {
  padding: 3px 14px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #9CE;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body onload="patientSearch()">
<table style="height:-webkit-fill-available; width:100%">
	<tr>
		<td style="height:10%;text-align:center;padding:0px">
		<table style="height:100%; width:100%">
		<tr>
		<td style="height:100%; width:100%"> 
			<table>
			<tr>
			<td>
			<img src="images/logo2.png" style="float:left"/>
			</td>
			<td>
			<a style="text-transform:capitalize;"><b>Welcome <span id="user_name" th:text="${#httpServletRequest.remoteUser}" /></b></a>
			</td>
			<td>
			<button class="button" onclick="window.location.href='newPatient.html'">NEW PATIENT</button>
			</td>
			<td>
					<a href="logout" class="btn btn-info btn-lg" style="float:right">
	          <span class="glyphicon glyphicon-log-out"></span> Log out
	        </a>
			</td>
			</tr>
			</table>
		</td>
		</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td style="height:20%; padding:0px">
		<table style="height:100%;width:100%">
		<tr>
		<td style="text-align:-webkit-center">
			
			<p><b>Case Number:</b><input id="caseNumber" style="width:30%" class="w3-input w3-border w3-hover-blue" type="number" oninput="patientSearch()"/></p>
			
			<p><b>First Name :</b><input id="firstname" style="width:30%" class="w3-input w3-border w3-hover-blue" type="text" oninput="patientSearch()" /></p>
			
			<p><b>Last Name :</b><input id="lastname" style="width:30%" class="w3-input w3-border w3-hover-blue" type="text"  oninput="patientSearch()"/></p>
			
			<p><b>Mobile Number :</b><input id="cell" style="width:30%" class="w3-input w3-border w3-hover-blue" type="number" oninput="patientSearch()"/></p>
		</td>
		<td style=" text-align:-webkit-center">
 			
			<p><b>Email Address :</b><input id="email" style="width:30%" class="w3-input w3-border w3-hover-blue" type="text" oninput="patientSearch()"/></p>
			
			<p><b>Home Address :</b><input id="address" style="width:30%" class="w3-input w3-border w3-hover-blue" type="text" oninput="patientSearch()"/></p>
			
			<p><b>Bar Code :</b><input id="barcode" style="width:30%" class="w3-input w3-border w3-hover-blue" type="number" oninput="patientSearch()" /></p>
			
			<p><b>SurName/File NO. :</b><input id="fileno" style="width:30%" class="w3-input w3-border w3-hover-blue" type="text" oninput="patientSearch()" /></p>
		</td>
		</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td style="padding:0px">
			<table id="pList">
				<tr>
					<td style="border:solid">
						<table id="tab" style="cursor:pointer">

						  <tbody>
						  </tbody>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>

</table>
<script>

function patientSearch(){
	 $("#tab tbody").empty();
	var data = {
			firstname : document.getElementById("firstname").value,
			lastname : document.getElementById("lastname").value,
			cell : document.getElementById("cell").value,
			email : document.getElementById("email").value,
			address : document.getElementById("address").value,
			fileno : document.getElementById("fileno").value,
			barcode : document.getElementById("barcode").value,
			casenumber : document.getElementById("caseNumber").value,
	}
	$.ajax({
		  type: "GET",
		  url: "/PatientSearch",
		  data: data,
		  success: function(data,status){
			  if(data.length == 0){
				  alert("No such Patient Found");
				  document.getElementById("firstName").value= "";
				  document.getElementById("lastName").value= "";
				  document.getElementById("mobileNumber").value= "";
				  document.getElementById("emailAddr").value= "";
				  document.getElementById("homeAddr").value= "";
				  document.getElementById("FileNo").value= "";
				  document.getElementById("barCode").value= "";
				  document.getElementById("caseNumber").value= "";
			  }else{
				  
				  $("#tab tbody").append(
  		  				"<tr>" +
                                 "<th>" + "Case No." + "</th>" +
                                 "<th>" + "First name" + "</th>" +
                                 "<th>" + "Last name" + "</th>" +
                                 "<th>" + "SurName/Fileno." + "</th>" +
                                 "<th>"+ "Detail" +"</th>" +
                             "</tr>");
				  
				  $.each(data, function (i) {
					  
					  $("#tab tbody").append(
                		  				"<tr>" +
                		  				"<td>" + data[i].casenumber + "</td>" +
                		  				"<td>" + data[i].firstname + "</td>" +
                		  				"<td>" + data[i].lastname + "</td>" +
                		  				"<td>" + data[i].fileno + "</td>" +
                		  				"<td><button>"+"View Details" +"</button></td>" +
                                           "</tr>");
				  $("#tab tbody tr td").attr("id", data[i].casenumber);
		    	  })}
		    },
		    error: function(data,status){
		    	alert("Data: " + data + "\nStatus: " + status);
		    },
		  dataType: 'json'
		});
	
}
</script>

</body>
</html>