<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="C:/Users/Marzia_Server/eclipse-workspace/webserver/src/main/resources/static/css/main.css" />

<head>
<title>New Patient</title>
</head>
<body>
<table style="height:-webkit-fill-available; width:100%">
<tr>
		<td style="height:10%;text-align:center;padding:0px">
		<table style="height:100%; width:100%">
		<tr>
		<td style="height:100%; width:100%"> <img src="images/logo2.png" style="float:left" />
		<a href="#" class="btn btn-info btn-lg" style="float:right">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
		</td>
		</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
		</td>
	</tr>
</table>
</body>
</html>